* {
  box-sizing: border-box;
}

body {
  font: 12px sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  text-align: left;
}

.canvas {
  padding: 40px;
  flex: 1;
}

.grid line {
  vector-effect: non-scaling-stroke;
  stroke: rgba(0,0,0,.4);
  stroke-width: 1;
}

.sidebar__fieldset {
  margin-bottom: 20px;
}

.sidebar {
  width: 200px;
  padding: 15px;
  background: #ccc;
}

.sidebar__area {
  display: flex;
  flex-direction: row;
}

.sidebar__area > *:first-child {
  margin-right: 10px;
}

input {
  width: 100%;
}

label {
  display: block;
}

.wall {
  fill: black;
}

.wall--selected {
  fill: blue;
}